{% extends 'base.html.twig' %}

{% block title %} Новости

{% endblock %}

{% block content %}
    <h1>Полное описание новости</h1>

    <div class="module-page-item">
    <div class="row">
        <div class="col-md-9" style="text-align: center">
            <p>Категория: <a href="{{ path('category',{'id': news.category.id}) }}">{{ news.category.name }}</a></p>
            <h4 class="module-page-name">{{ news.title }}</h4>
            <p style="font-size: 20px">{{ news.shortDescription }}</p>

            <img class="card-img-top" style="width: 800px" src="{{ vich_uploader_asset(news, 'imageFile') }}"/>

            <p>Автор: {{ news.user.fullName }} </p>

            <div class="time" style="font-size: 15px">
                <p>Дата создания публикации:
                    {{ news.date|date('d') }}/
                    {{ news.date|date("m") }}/
                    {{ news.date|date('Y') }} </p>

                <p>Дата публикации:
                    {{ news.datePublication|date('d') }}/
                    {{ news.datePublication|date("m") }}/
                    {{ news.datePublication|date('Y') }} </p>


            </div>

            <p style="margin-top: 20px">Теги: <a
                        href="{{ path('tag',{'id': news.tag.id}) }}">{{ news.tag.name }}</a></p><br>

            {% if is_granted("ROLE_USER") %}
                <p>Качествено проголосовало: {{ news.quality }} | <a href="{{ path('favorite',{'id': '1'}) }}">+</a> |
                    <a href="{{ path('favorite',{'id': '4'}) }}"> - </a> | <br>
                    Актуально проголосовало: {{ news.relevant }} | <a href="{{ path('favorite',{'id': '2'}) }}">+</a> |
                    <a href="{{ path('favorite',{'id': '5'}) }}"> - </a> | <br>
                    Доволны: {{ news.pleasure }} | <a href="{{ path('favorite',{'id': '3'}) }}">+</a> | <a
                            href="{{ path('favorite',{'id': '6'}) }}"> - </a> | <br></p>
            {% else %}
                <p>Качествено проголосовало: {{ news.quality }} <br>
                    Актуально проголосовало: {{ news.relevant }} <br>
                    Доволны: {{ news.pleasure }} <br></p>

            {% endif %}

            <h5>Полное описание:</h5>
            <p>{{ news.fullDescription }}</p>

            <hr>
            <div><h5>Комменты:</h5>

                <p>{{ news.comment.description }}</p></div>

            <hr>


            <hr>
        </div>
    </div>


{% endblock %}