{% extends 'base.html.twig' %}

{% block title %} Новости

{% endblock %}

{% block content %}
    <h1>Новостная лента</h1>

    {% for one_news in news %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-md-9" style="text-align: center; border: 2px black solid">
                <p>Категория: <a
                            href="{{ path('category',{'id': one_news.category.id}) }}">{{ one_news.category.name }}</a>
                </p>
                <h4 class="module-page-name">{{ one_news.title }}</h4>
                <p style="font-size: 20px">{{ one_news.shortDescription }}</p>

                <img class="card-img-top" style="width: 400px" src="{{ vich_uploader_asset(one_news, 'imageFile') }}"/>

                <p>Автор: {{ one_news.user.fullName }} </p>
                <div class="time" style="font-size: 15px">
                    <p>Дата создания публикации:
                        {{ one_news.date|date('d') }}/
                        {{ one_news.date|date("m") }}/
                        {{ one_news.date|date('Y') }} </p>

                    <p>Дата публикации:
                        {{ one_news.datePublication|date('d') }}/
                        {{ one_news.datePublication|date("m") }}/
                        {{ one_news.datePublication|date('Y') }} </p>


                </div>

                <p style="margin-top: 20px">Теги: <a
                            href="{{ path('tag',{'id': one_news.tag.id}) }}">{{ one_news.tag.name }}</a></p><br>

                {% if is_granted("ROLE_USER") %}
                    <p>Качествено проголосовало: {{ one_news.quality }} | <a href="">+</a> | <a href=""> - </a> | <br>
                        Актуально проголосовало: {{ one_news.relevant }} | <a href="">+</a> | <a href=""> - </a> | <br>
                        Доволны: {{ one_news.pleasure }} | <a href="">+</a> | <a href=""> - </a> | <br></p>
                {% else %}
                    <p>Качествено проголосовало: {{ one_news.quality }} <br>
                        Актуально проголосовало: {{ one_news.relevant }} <br>
                        Доволны: {{ one_news.pleasure }} <br></p>

                {% endif %}


                <p style="padding-bottom: 20px;">Чтобы узнать подробнее жми <a href="{{ path('description',{'id': one_news.id}) }}">сюда</a></p>
                <hr>
                <div><h5>Комменты:</h5>

                    <p>{{ one_news.comment.description }}</p></div>

                <hr>


                <hr>
            </div>
        </div>
        {% endfor %}



{% endblock %}